.shoulder {
  border-radius: 1rem;
  min-height: 4rem;
  padding: 0 1em;
  position: relative;
  top: -3em;
}

.collection {
  background-color: white;
}

.detail {
  background-color: rgba(255, 255, 255, 0.8);
}
