.navigation {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6), transparent);
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  top: -10rem;
}

.navigation.collection {
  position: relative;
}

.back,
.search,
.servers,
.settings,
.title {
  padding: 1rem 0.5rem 0.5rem;
  display: flex;
  align-items: center;
}

.back img,
.search img,
.servers img,
.settings img {
  width: 1.3rem;
}

.title {
  display: block;
  flex-grow: 1;
  font-size: 1rem;
  line-height: 1.5rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.title a {
  color: white;
}
