.empty {
  padding-top: 4rem;
}

.header {
  align-items: center;
  display: flex;
  max-height: 3rem;
  overflow-y: hidden;
  padding: .5rem 0;
}

.header .name {
  flex-grow: 1;
  font-weight: bold;
}

.details {
  color: #742e12;
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  font-weight: normal;
  margin-top: 1rem;
}

.details .artist a {
  color: #742e12;
}

.header img {
  width: 2rem;
}

.tracklist {
  margin-top: .75rem;
}

.tracklist .highlight {
  color: red;
}

.tracklist .track {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .25rem 0;
}

.tracklist .track img {
  width: 2rem;
}

.tracklist .track .ordinal {
  width: 2rem;
  min-width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: url("/assets/img/play.png");
  background-size: cover;
}

.stretch {
  flex-grow: 1;
  padding: 0 .5rem;
}

.tracklist .title .missing {
  color: gray;
  font-style: italic;
}

.tracklist .title .info {
  color: gray;
  font-size: 0.8rem;
}

.tracklist .track .features {
  color: #742e12;
  font-size: 0.8rem;
}

.tracklist .track .length {
  font-size: 0.8rem;
}

.tracklist .track .artists {
  margin-left: 1rem;
  color: gray;
}
