.empty {
  padding-top: 1rem;
}

.artistname {
  padding: 1rem 0 .5rem 0;
}

.albumgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}

.albumgrid a {
  color: black;
  display: block;
}

.albumgrid a.album .cover {
  background-position: center;
  background-size: cover;
  border-radius: 1rem 1rem 1rem 0;
  margin-bottom: .5rem;
  padding-top: 100%;
  width: 100%;
}

.albumgrid a.album .year {
  color: #742e12;
  font-size: 0.8rem;
}
