.albumgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.albumgrid img {
  max-width: 100%;
  border-radius: 1rem;
}

.header {
  height: 100vw;
  background-color: black;
}

.notfound {
  background-color: black;
  padding-bottom: 2rem;
}

.spinner {
  margin-top: 2rem;
}
