.collections {
  align-items: flex-end;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  overflow-x: scroll;
  padding: 1rem;
  position: relative;
  top: -10rem;
}

.collections a {
  color: black;
  padding: 0.5rem 1rem;
}

.collections a.active {
  color: white;
  border-bottom: 3px solid black;
}
