.empty {
  padding-top: 1rem;
}

.artistgrid {
  column-count: 2;
  min-height: 100%;
  width: 100%;
  padding-top: 1rem;
}

.artistgrid a {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  border: 1px solid #C0C0C0;
  border-bottom: none;
  display: inline-block;
  margin-bottom: 1rem;
  width: 100%;
}

.artistgrid .artist {
  overflow: hidden;
}

.artistgrid .artist img {
  visibility: hidden;
  min-height: 1.5rem;
  width: 100%;
}

.artistgrid .artist .name {
  background-color: rgba(255, 255, 255, .7);
  border-bottom: 1px solid #C0C0C0;
  border-radius: 0 0 1rem 1rem;
  box-sizing: border-box;
  color: black;
  line-height: 1.5rem;
  overflow: hidden;
  padding: 0 1rem;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}
