.artistgrid {
  column-count: 2;
  min-height: 100%;
  width: 100%;
}

.artistgrid .artist {
  overflow: hidden;
  margin-bottom: -.5rem;
}

.artistgrid .artist img {
  width: 100%;
  border-radius: 14px;
}

.artistgrid .artist .name {
  background-color: rgba(255, 255, 255, .7);
  box-sizing: border-box;
  color: black;
  line-height: 1.5rem;
  overflow: hidden;
  padding: 0 1rem;
  position: relative;
  text-overflow: ellipsis;
  top: -1.6rem;
  white-space: nowrap;
}

/* -- Detail -- */
.header {
  height: 50vw;
  background-color: black;
  background-size: cover;
  border-radius: 0 0 1rem 1rem;
  transition: background 2s linear;
}

/* TODO: https://stackoverflow.com/a/27579131 */
.header section {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}

.notfound {
  background-color: black;
  padding-bottom: 2rem;
}
