.header {
  display: flex;
  flex-direction: column;
  background-color: #4158D0;
  background-image: linear-gradient(180deg, #742e12 0%, #d28a2d 61%, #ffcc00 100%);
  padding-bottom: 1rem;
}

.collections {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.collections a {
  color: black;
}

.collections a.active {
  color: white;
}
